<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecommerce Website</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">



</head>

<body>


    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img/logos/logo.png' %}" height="60px" width="60px" alt=""> <span style="color:black" >FASHION</span></a>
                </div>
                <div class="header-right">
                  <span>Shopping Cart &nbsp;</span>
                    <a href="{% url 'checkout' %}">
                        <img src="{% static 'img/icons/bag.png' %}" alt="">
                        <span id='cart'></span>
                    </a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a  href="{% url 'home' %}">Home</a></li>
                        <li><a  href="{% url 'productHome' %}">Products</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="{% static 'img/icons/delivery.png' %}" alt="">
                        <p>Free shipping on orders over &#8377 500 in India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->

{% block content %}
{% endblock %}

<!-- Footer Section Begin -->
<footer class="footer-section spad"

    <div class="social-links-warp">
  <div class="container">
    <div class="social-links">
      <a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
      <a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
      <a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
      <a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
      <a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
      <a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
    </div>
  </div>

<div class="container text-center pt-5">
            <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script>
</p>
        </div>


</div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script src="{% static 'js/base.js' %}"></script>
{% block js %} {% endblock %}

</body>

</html>
